# Dependencies
node_modules/

# Build outputs
dist/
build/
data/

# TypeScript
*.tsbuildinfo
.tsbuildinfo
*.d.ts.map

# Environment variables
.env
.env.local

# configurations
config.yaml
rpc.networks.json
cache.sqlite
